div{
    box-sizing: border-box;
}

.clear{
    clear: both;
}
.section{
    width: 100%;
    height: 880px;
    
}
.s1{
    background: url(../img/237.png);   
}
.content{
    width: 85%;
    margin: 0 auto;
    padding-top: 4px;
    height: 100%;
    text-align: center;
}
.logoa{
    display: inline-block;
    float: left;
}
.s1 ul li {
    list-style: none;
    float: right;
    display: inline-block;
    padding-left: 30px;
}
.section1paragraph{
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    color: white;
    font-size: 32px;
}
h1{
    margin: 0 auto;
    text-align: center;
     color: white;
    font-size: 72px;
}

.getstartedbtn{
    margin: 0 auto;
    margin-top: 40px;
    width: 280px;
    height: 68px;
    border: none;
    background-color: #30788b;
    color: white;
    border-radius: 10px;
}
.s2{
    height: 435px;
}
.coffee{
    display: inline-block;
    width: 300px;
    float: left;
    
}
.location{
     display: inline-block;
    width: 300px;
    
}
.social{
     display: inline-block;
    width: 300px;
    float: right;
}
.icons{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    padding: 30px;
    box-sizing:content-box;
    margin-top: 100px;
}
.s3{
    height: 880px;
    background-color: #f7f7f7;
}
.introducetxt{
    float: left;
    width: 50%;
    
}
.iphoneimg{
    float: right;
    width: 50%;
    
}
.iphone{
    bottom: 0;
    margin-top: 100px;
}
.s3 h3{
    margin-top: 170px;
    float: left;
}
.s3 p{
    float: left;
    text-align: left;
}
.stores{
    float: left;
    margin: 5px;
}
.s4{
    height: 460px;
    background: url(../img/333.png);  
}
.s4 img{
    margin-top: 85px;
    width: 75px;
    height: 75px;
    background-color: floralwhite;
    margin: 0 auto;
    margin-top: 85px;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: #738386;
}
.s4 h2{
 color: #4f6165;   
}
.s4 p{
    color: #4f6165;
}
.s5{
    height: 790px;
}
.s5 .content{
    padding-top: 50px;
}